.container {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}
svg * [fill] { fill: currentColor}
svg * [stroke] { stroke: currentColor}

input[type=number] {
    -moz-appearance: textfield;
    /* Firefox */
}

/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/**
   Убираем внутренние отступы слева тегам списков,
   у которых есть атрибут class
  */
:where(ul, ol):where([class]) {
    padding-left: 0;
}

/**
   Убираем внешние отступы body и двум другим тегам,
   у которых есть атрибут class
  */
body,
:where(blockquote, figure):where([class]) {
    margin: 0;
}

/**
   Убираем внешние отступы вертикали нужным тегам,
   у которых есть атрибут class
  */
:where(h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    ol,
    dl):where([class]) {
    margin-block: 0;
}

:where(dd[class]) {
    margin-left: 0;
}

/**
   Убираем стандартный маркер маркированному списку,
   у которого есть атрибут class
  */
:where(ul[class]) {
    list-style: none;
}

/**
   Упрощаем работу с изображениями
  */
img {
    display: block;
    max-width: 100%;
}

/**
   Наследуем свойства шрифт для полей ввода
  */
input,
textarea,
select,
button {
    font: inherit;
}

html {
    /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
    height: 100%;
    /**
     Плавный скролл
    */
    scroll-behavior: smooth;
}

body {
    /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
    min-height: 100%;
    background-color: #000;
    /**
     Унифицированный интерлиньяж
    */
    line-height: 1.5;
}

p {
    margin-block: 0;
}

p:not([class]):not(:last-child) {
    margin-bottom: 24px;
}

/**
   Удаляем все анимации и переходы для людей,
   которые предпочитают их не использовать
  */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

a,
button,
input,
textarea,
svg * {
    transition: 0.2s;
}
svg * {
    transition-duration: inherit;
}
svg * {
    transition-property: fill,stroke;
}

body {
    font-size: 16px;
    background: #131619;
    line-height: 1.75;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.input {
    height: 24px;
    padding: 25px;
    border-radius: 30px;
    color: #C4C4C4;
    width: 100%;
    background-color: transparent;
    border: 1px solid #404040;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    padding-inline: 32px;
    min-height: 90px;
}

.header-menu-list {
    display: flex;
    column-gap: 50px;
}

.header-actions {
    display: flex;
    column-gap: 39px;
}

.header-logo {
    flex-shrink: 0;
}

.button {
    display: inline-flex;
    height: 38px;
    padding-inline: 26px;
    font-family: "Heebo", serif;
    font-size: 12px;
    color: #000000;
    padding-block: 7px;
    letter-spacing: 1.2;
    white-space: nowrap;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 2;
    background-color: #FFFFFF;
    border: none;
    border-radius: 30px;
}

.button:hover {
    background-color: #acacac;
}

.header-menu-link {
    color: #FFFFFF;
    font-family: "Heebo", serif;
    font-size: 12px;
    display: inline-flex;
    height: 90px;
    align-items: center;
    column-gap: 7px;
    letter-spacing: 1.2;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
}

.header-menu-link:hover {
    color: #acacac;
}

.header-menu-link.is-current::after {
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: currentColor;
}

.header-burger-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: transparent;
    border: solid 1px #FFFFFF;
}

.banner {
    padding-inline: 70px;
    padding-block: 36px;
    min-height: calc(100vh - 90px);
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: #FFFFFF;
    background-color: #131619;
}

.banner-body {
    text-transform: uppercase;
    font-family: "Heebo", serif;
}

.banner-info {
    display: flex;
    align-items: end;
    font-size: clamp(16px, 1.56vw, 30px);
    line-height: 1.27;
    font-weight: 700;
}

.banner-title {
    font-size: min(18.75vw, 360px);
    line-height: 1;

}

.banner-info::before {
    content: '';
    width: clamp(60px, 10.1vw, 194px);
    aspect-ratio: 1;
    background: url(./images/h1-rev-icon-1.png.svg) center/contain no-repeat;
    margin-right: 30px;
}

.banner-pagination-list {
    justify-content: center;
    display: flex;
    column-gap: 14px;
}

.banner-pagination-item {
    display: flex;
}

.banner-pagination-button {
    width: 10px;
    aspect-ratio: 1;
    padding: 0;
    border: #FFFFFF 1px solid;
    background-color: transparent;
    border-radius: 50%;
}

.banner-pagination-item.is-current {
    background-color: #FFFFFF;
    width: 10px;
    aspect-ratio: 1;
    padding: 0;
    border: #FFFFFF 1px solid;
    border-radius: 50%;
}

.banner-pagination-button:not(.is-current):hover {
    border-color: #acacac;
}

.motivation-item {
    padding-inline: clamp(20px, 10vw, 300px);
}

.motivation-item:first-child {
    background-color: #000000;
}

.motivation-card {
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: clamp(30px, 10.42vw, 200px);
}

.motivation-card-image {
    margin-block: -60px;
    flex-shrink: 0;
}

.motivation-card-body {
    padding-left: 35px;
}

.motivation-item:nth-child(even) .motivation-card {
    flex-direction: row-reverse;

}

.title-medium {
    color: #FFFFFF;
    font-size: clamp(20px, 2.08vw, 40px);
    font-family: "Heebo", serif;
    text-transform: uppercase;
    line-height: 1.3;
}

.title-big {
    font-family: "Heebo", serif;
    font-size: clamp(24px, 3.12vw, 60px);
    color: white;
}

.motivation-card-description {
    color: #C4C4C4;
    font-family: "Heebo", serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.8;
    line-height: 1.3;
    max-width: 400px;
}

.backdrop-title {
    position: relative;
    z-index: 2;
}

.backdrop-title.centered::after {
    left: 50%;
    top: -0.25em;
    translate: -50% 0;
}

.backdrop-title::before {
    content: '';
    display: block;
    width: 26px;
    height: 40px;
    position: absolute;
    right: calc(100% + 8px);
    background: url(icons/Frame\ \(1\).svg);
}

.backdrop-title::after {
    content: attr(data-title);
    font-size: 2.8em;
    font-family: "Yantramanav", serif;
    color: transparent;
    z-index: -1;
    top: -0.3em;
    left: -0.6em;
    line-height: 1;
    position: absolute;
    -webkit-text-stroke: 1px #404040;
}

.motivation-card-title:not(:last-child) {
    margin-bottom: 14px;
}

.motivation-card-description:not(:last-child) {
    margin-bottom: 37px;
}

.button.transparent {
    text-decoration: none;
    height: 54px;
    font-size: 13px;
    letter-spacing: 1.3;
    font-weight: 700;
    align-items: center;
    position: relative;
    padding-left: 31px;
    padding-right: 80px;
    background-color: transparent;
    border: solid 1px #FFFFFF;
    color: #FFFFFF;
    transition: 0.3s;
}

.button.transparent::after {
    content: '';
    position: absolute;
    right: 0;
    background: url(icons/Framearrow.svg) center/100% no-repeat;
    height: 100%;
    aspect-ratio: 1;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    transition: 0.3s;
}

.button.transparent:hover {
    color: #000;
    background-color: #acacac;

}

.training-types {
    margin-inline: auto;
    padding-top: 70px;
    padding-bottom: 120px;
    position: relative;
    max-width: 1920px;
    background-color: #000;
}

.training-types-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 60px;
}

.training-types-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    row-gap: 32px;
    background: url(./icons/arrow.svg) 100% 0/80px no-repeat;
}

.training-types-item-title {
    font-family: "Heebo", serif;
    font-size: 16px;
    letter-spacing: 0.8;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase;
}

.join-us-video-wrapper {
    background: url(images/91ea7764f4eaf54b963accba0e738026.jpeg) center/cover no-repeat;
    padding-inline: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-block: 150px;
}

.join-us-video-play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 200px;
    aspect-ratio: 1;
    background-color: transparent;
    border: 1px #FFFFFF solid;
    border-radius: 50%;
    font-family: "Heebo", serif;
    font-size: 14px;
    font-weight: 700;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    display: flex;
    column-gap: 4px;

}

.join-us-video-play-button::after {
    content: '';
    background: url(./icons/arrowvideo.svg) center/contain no-repeat;
    width: 27px;
    aspect-ratio: 1;
    display: block;
    transition: 0.2s;
}

.join-us-video-play-button:hover {
    background-color: #bab4b4;
    color: #000;
}

.join-us-video-play-button:hover::after {
    filter: invert(1);
}

.join-us-body {
    padding-bottom: 150px;
    margin-inline: auto;
}

.join-us-title {
    font-size: clamp(64px, 9.37vw, 180px);
    line-height: 1;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: -0.4em;
    position: relative;
    text-align: center;
    font-family: "Heebo", serif;
}

.join-us-title::after {
    content: '';
    background: url(./icons/arrow-h2.svg) no-repeat center/cover;
    height: 0.7em;
    width: 0.7em;
    position: relative;
    margin-left: 0.14em;
    display: inline-block;
}

.footer {
    background-color: #000;
}

@media (min-width: 1920px) {
    .banner-pagination-list {
        justify-content: start;
    }
}

.join-us-title:not(:last-child) {
    margin-bottom: 138px;
}

.join-us-form-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 7px;
}

.join-us-video {
    width: 100%;
    max-width: 960px;
    height: auto;
}

.join-us-form-title {
    font-family: "Heebo", serif;
    font-weight: 700;
    line-height: 1.2;
}

.join-us-form-subtitle {
    font-weight: 300;
    font-family: "Heebo", serif;
    color: #FFFFFF;
    line-height: 33px;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}

.join-us-form-header:not(:last-child) {
    margin-bottom: 52px;
}

.join-us-form-input {
    max-width: 400px;
}

.join-us-form-input::placeholder {
    font-family: "Heebo", serif;
    color: #C4C4C4;
    font-size: 16px;
    transition: 0.3s;
}

.input:hover {
    border: 1px solid #FFFFFF;

}

.input:focus {
    outline: none;
    background-color: #404040;
}

.input:focus::placeholder {
    color: #000;
}

.join-us-form-body {
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

.location {
    max-width: 1920px;
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.location-body {
    padding: 80px 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #000;
}

.location-title:not(:last-child) {
    margin-bottom: 14px;
}

.location-description {
    font-family: "Heebo", serif;
    font-weight: 300;
    letter-spacing: 0.8;
    font-size: 16px;
    color: #C4C4C4;
    max-width: 490px;
    line-height: 28px;
}

.location-description:not(:last-child) {
    margin-bottom: 37px;
}

.location-map-image {
    height: auto;
}

.family-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 132px;
    padding-bottom: 62px;
    text-align: center;
}

.family-title {
    text-transform: uppercase;
}

.family-description {
    font-family: "Heebo", serif;
    font-weight: 300;
    font-size: 20px;
    row-gap: 7px;
    color: #FFFFFF;
    text-transform: uppercase;
    line-height: 33px;
}

.family-body {
    max-width: 1920px;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    column-gap: 26px;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
}

.family-image {
    scroll-snap-align: start;
}

.calculate {
    border-color: #131619;
    padding-block: 146px;
    padding-left: 50px;
}

.calculate-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 36px;
}

.calculate-body {
    flex-grow: 1;
    max-width: 627px;
}

.calculate-title:not(:last-child) {
    margin-bottom: 16px;
}

.calculate-description {
    max-width: 385px;
}

.calculate-description:not(:last-child) {
    margin-bottom: 30px;
}

.calculate-description {
    font-family: "Heebo", serif;
    font-weight: 300;
    letter-spacing: 0.8;
    font-size: 16px;
    color: #C4C4C4;
}

.calculate-form-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px 30px;
}

.calculate-form-body:not(:last-child) {
    margin-bottom: 26px;
}

.calculate-input.wide {
    grid-column: -1/1;
}

.calculate-input {
    color: #C4C4C4;
    letter-spacing: 0.8;
    font-family: "Heebo", serif;
}

.calculate-table-wrapper {
    position: relative;
    max-width: 610px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculate-table-wrapper::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 100%;
    aspect-ratio: 1;
    background: #000;
    border-radius: 50%;

}

.calculate-table {
    position: relative;
    border-collapse: collapse;
}

.calculate-table th {
    color: #FFFFFF;
    padding-block: 20px;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.8;
    font-family: "Heebo", serif;
    font-size: 16px;
}

.calculate-table td {
    padding-block: 14px;
    letter-spacing: 0.8;
    font-family: "Heebo", serif;
    font-size: 16px;
    color: #C4C4C4;
    font-weight: 300;
}

.calculate-table tfoot td {
    padding-top: 33px;
    padding-bottom: 0;
}

.calculate-table tfoot {
    color: #FFFFFF;
}

.calculate-table:is(td, th) {
    padding-right: 30px;
}

.calculate-table :is(td, th):not(:first-child) {
    padding-left: 30px;
}

.calculate-table :is(td, th):not(:last-child) {
    border-right: 1px solid #707070;
}

.calculate-table tbody td {
    border-top: 1px solid #707070;
}

.calculate-table tbody tr:last-child td:first-child {
    position: relative;
}

.calculate-table tbody tr:last-child td:first-child::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70%;
    height: 1px;
    background: #707070;
}

.footer-main {
    padding-top: 140px;
    padding-bottom: 160px;
    display: flex;
    justify-content: center;
    padding-inline: 20px;
}



.footer-body {
    grid-template-columns: 20.77% repeat(3, 1fr);
}

.footer-header {
    grid-template-columns: 20.77% auto;
}

.footer-header,
.footer-body {
    display: grid;
    column-gap: 62.5px;
}

.footer-logo {
    width: 270px;
    height: auto;
}

.footer-description {
    font-family: "Heebo", serif;
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 33px;
}

.footer-header-link {
    font-family: "Heebo", serif;
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 33px;
}

.footer-header:not(:last-child) {
    margin-bottom: 60px;
}

.footer-column-title {
    font-family: "Heebo", serif;
    font-size: clamp(18px, 1.15vw, 22px);
    color: #FFFFFF;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 38px;
    position: relative;
}

.footer-column-title:not(:last-child) {
    margin-bottom: 15px;
}

.footer-about {
    font-family: "Heebo", serif;
    font-size: 16px;
    color: #707070;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0.8;
}

.footer-time:not(:last-child) {
    margin-bottom: 13px;
}

.footer-address {
    font-style: normal;
}

.footer-address:not(:last-child) {
    margin-bottom: 35px;
}

.footer-subscribe-input {
    font-family: "Heebo", serif;
    border: 1px solid #FFFFFF;
    transition: 0.2s;
    padding-right: 70px;
}

.footer-column-title.has-arrow::after {
    height: 0.7em;
    aspect-ratio: 1;
    position: relative;
    margin-left: 0.4em;
    display: inline-block;
    content: '';
    background: url(./icons/arrow-h2.svg) no-repeat center/cover;
    position: absolute;
    scale: -1 1;
    transform: rotate(90deg);
}

.footer-subscribe {
    position: relative;
}

.footer-subscribe-button {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    aspect-ratio: 1;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #FFFFFF;
    background: url(icons/Framearrow.svg) center/100% no-repeat;
}

.footer-subscribe-button:hover {
    background-color: #707070;
}

.footer-subscribe:not(:last-child) {
    margin-bottom: 50px;
}

.footer-soc1als-list {
    display: flex;
    column-gap: 18px;   
}

.footer-soc1al-link {
    display: flex   ;
    width: 23px;
    display: inline-block;
    aspect-ratio: 1;
}

.footer-copyright   {
    font-size: 14px;
    text-decoration: none;
    font-family: "Heebo", serif;
    font-size: 14px;
    color: #707070;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0.8;
    color: #FFFFFF;
}
.footer-extra {
    padding-block: 12px;
    background: #131619;
    max-width: 100%;
    display: flex;
}
@media (max-width: 1919px) {
    .motivation-card-image {
        margin-block: -20px;
    }
}

@media (max-width: 1280px) {
    .training-types-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1024px) {
    .header {
        flex-wrap: wrap;
        padding-top: 20px;
        row-gap: 10px;
        padding-inline: 15px;
    }
    
    .footer-main {
        padding-top: 80px;
        padding-bottom: 50px;
    }
    .footer-body {
        grid-template-columns: repeat(2,1fr);
        row-gap: 20px;
    }
    .calculate-button {
        width: 100%;
    }
    .footer-header {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
    }
    .family-image {
        height: 360px;
    }

    .location {
        display: flex;
        flex-direction: column-reverse;
    }

    .join-us-title:not(:last-child) {
        margin-bottom: 80px;
    }

    .motivation-card-image {
        max-width: 30%;
        height: auto;
        margin-block: 0;
    }
     
    .calculate {
        padding-block: 100px;
    }

    .calculate-form-body {
        grid-template-columns: 1fr;
    }

    .motivation-card {
        padding-block: 50px;
    }

    .banner {
        padding-inline: 15px;
    }

    .header-menu {
        order: 1;
        flex-basis: 100%;
    }

    .header-menu-link {
        height: 50px;
    }

    .header-menu-list {
        display: flex;
        flex-wrap: wrap;
    }

    .banner {
        row-gap: 10px;
    }
}

@media (max-width: 767px) {
    .header-menu-link {
        height: 32px;
    } 
    .footer-body {
        grid-template-columns: repeat(1,1fr);
    }

    .calculate-inner {
        column-gap: 20px;
    }
     .footer-main {
        padding-top: 50px;
        padding-bottom: 30px;
    }
    .location-body {
        padding-block: 40px;
    }

    .family-image {
        height: 180px;
    }

    .family-header {
        padding-top: 80px;
        padding-bottom: 50px;
    }

    .family-body {
        column-gap: 12px;
    }

    .calculate-table :is(td, th) {
        padding-block: 10px;
    }

    .calculate-table tfoot td {
        padding-top: 10px;
    }

    .calculate-inner {
        flex-direction: column;
        row-gap: 20px;
    }

    .calculate-table-wrapper::before {
        display: none;
    }

    .calculate {
        padding-block: 60px;
    }

    .location-description:not(:last-child) {
        margin-bottom: 20px;
    }

    .join-us-video-play-button {
        width: 140px;
    }

    .join-us-body {
        padding-bottom: 80px;
    }

    .join-us-title:not(:last-child) {
        margin-bottom: 40px;
    }

    .training-types-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .join-us-form-subtitle {
        font-size: 16px;
    }

    .training-types-item {
        background: url(./icons/arrow.svg) 100% 0/50px no-repeat;
        padding-top: 50px;
        row-gap: 16px;
    }

    .training-types-image {
        max-width: 120px;
    }


    .header {
        padding-top: 10px;
    }

    .header-menu-list {
        column-gap: 24px;
    }

    .header-actions {
        column-gap: 15px;
    }

    .button {
        padding-inline: 18px;
    }

    .banner-info {
        margin-bottom: 5px;
    }

    .banner-info::before {
        margin-right: 10px;
    }

    .motivation-card {
        flex-direction: column-reverse !important;
        padding-block: 20px;
        row-gap: 30px;
    }

    .motivation-card-image {
        max-width: 60%;
    }

    .motivation-card-description:not(:last-child) {
        margin-bottom: 20px;
    }

    .join-us-form-body {
        flex-direction: column;
        align-items: center;
        row-gap: 15px;
    }
}